.question-info{
    text-align: center;
    margin-top: 20px;
}

.page-title{
    text-align: center;
}

answer-list{
    padding-left: 0;
}

.answer-list li{
    list-style: none;
    border-bottom: 1px solid #eee;
}

.avatar{
    width: 40px;
    height: 40px;
}

.user-info{
    font-size: 16px;
    color:#9b9b9b;
}

.user-info.username{
    margin-left: 20px;
}

.user-info.create-time{
    float:right;
}